services:
    chatbot_api:
        build:
            context: .
            dockerfile: Dockerfile
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.chatbot_api.rule=Host(`bahanbakarnasi.cloud`)"
            - "traefik.http.routers.chatbot_api.entrypoints=websecure"
            - "traefik.http.routers.chatbot_api.tls.certresolver=myresolver"
            - "traefik.http.services.chatbot_api.loadbalancer.server.port=3000"
        networks:
            - traefik_default
networks:
    traefik_default:
        external: true
